<h1>Eat-Da-Burger...or not</h1>

<!-- Get the parts to work first, then make it pretty -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>BURGERS TO EAT</h2>
      {{#each burgers}}
        {{#unless this.devoured}}
          <li>
            {{this.burger_name}}

            <form action="/burger/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="false">
              <button type="submit" class="btn">DEVOUR SAID FOOD BURGER</button>
            </form>

          </li>
        {{/unless}}
      {{/each}}
    </div>

<!-- Show devoured burgers -->
    <div class="col-md-6">
      <h2>BURGERS DEVOURED</h2>
      {{#each burgers}}
        {{#if this.devoured}}
          <li>
            {{this.burger_name}}

            <form action="/burger/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
            </form>

          </li>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
<br>
<br>
<!-- Add new burgers -->
<div class="container">
  <div class="row">
    <form action="/burger/create" method="POST">
      <div class="form-group">
        <label for="food">Add your Burger</label>
        <textarea name="burger_name" rows="5" cols="80" id="food"></textarea>
      </div>
      <button type="submit">ADD YOUR DESIRES</button>
    </form>
  </div>
</div>
