<h1>Eat-Da-Burger...or not</h1>

<!-- Get the parts to work first, then make it pretty -->
<div class="container">
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.name}}

        <form action="/burger/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit" class="btn">DEVOUR SAID FOOD BURGER</button>
        </form>

      </li>
    {{/unless}}
  {{/each}}
</div>

<!-- Show devoured burgers -->
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.name}}

        <form action="/burger/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">REINCARNATE YOUR BURGER!</button>
        </form>

      </li>
    {{/if}}
  {{/each}}

<!-- Add new burgers -->
<div class="container">
  <form action="/burger/insert" method="POST">
    <div class="form-group">
      <label for="food">Add your Burger</label>
      <textarea name="name" rows="5" cols="80" id="food"></textarea>
    </div>
    <button type="submit">ADD YOUR DESIRES</button>
  </form>
</div>
